* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

body {
  height: 100vh;
  width: 100%;
}

.bg_img {
  max-width: 640px;
  position: absolute;
  top: 0;
  right: 0;
}

nav {
  width: 95vw;
  height: 15vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
}

nav img:first-child {
  width: 10vw;
  height: 5vh;
  margin-left: 10px;
  cursor: pointer;
}

.nav-items {
  display: flex;
}

.nav-item {
  margin: 0px 20px;
  font-size: 14px;
  cursor: pointer;
}

.signin-btn {
  width: 105px;
  height: 31px;
  border-radius: 20px;
  border: none;
  color: #ffffff;
  background: linear-gradient(to right, #965cf2 0%, #ff8adc 100%);
  cursor: pointer;
}

.intro-section {
  width: 95vw;
  height: 70vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.left-section {
  width: 100%;
  height: 70vh;
  margin-left: -45px;
  background-color: rgb(255, 255, 255);
}

.left-section h1 {
  color: #3e4794;
  margin: 84px 0px 44px 160px;
  font-size: 65px;
  font-weight: bolder;
}

.left-section h4 {
  color: #6f7392;
  margin-left: 160px;
  margin-right: 75px;
  line-height: 1.7;
  font-size: 16px;
}

.learn-more-btn {
  width: 176px;
  height: 50px;
  border-radius: 27px;
  border: none;
  margin-left: 160px;
  margin-top: 50px;
  font-size: 20px;
  color: #ffffff;
  background: linear-gradient(to right, #965cf2 0%, #ff8adc 100%);
  font-weight: bold;
  letter-spacing: 1.5px;
  cursor: pointer;
}

.imgs-div {
  width: 49vw;
  height: 83vh;
}

.imgs-div img:nth-child(1) {
  position: absolute;
  top: 479px;
  left: 600px;
}

.imgs-div img:nth-child(2) {
  position: absolute;
  top: 494px;
  left: 650px;
}

.imgs-div img:nth-child(3) {
  position: absolute;
  top: 34px;
  left: 580px;
  width: 45vw;
  height: 50vw;
}


@media  screen and  (max-width: 768px) {
  .nav-items {
    display: none;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .intro-section {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .imgs-div:first-child {
    display: none;
  }
  .imgs-div:nth-child(2) {
    display: none;
  }

  .imgs-div {
    display: block;
    width: 100px;
  }

  /* .imgs-div .main-img {
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50px;
    left: 50px;
  } */

  .main-img {
    display: block;
    width: 400px;
    position: absolute;
    top: 100px;
    left: 50px;
  }

  .left-section h4 {
    color: #111;
  }

  .left-section h1 {
    font-size: 55px;
    color: #111;
  }
  

}